@keyframes bob {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20%);
    }
    75% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0);
    }
}

// classes
.animated {
    @for $i from 1 through 10 {
        span:nth-child(#{$i}) {
            animation: bob 0.3s linear (0.06s*$i);
        }
    }
}