@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
.app {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(white, #dbe2ef);
  cursor: none; }
  .app .color-mode {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    top: 5vw;
    right: 5vw;
    background-color: black;
    transition: all 0.7s;
    transform: translate(50%, -50%); }
  .app .dark-filter {
    position: fixed;
    top: 5vw;
    right: 5vw;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    z-index: 2000;
    pointer-events: none;
    transform: translate(50%, -50%);
    transition: all 1s; }
  .app .color-mode:hover {
    transform: scale(2) translate(25%, -25%); }
  .app h1 {
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 6vw; }
