@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
.cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  mix-blend-mode: exclusion;
  z-index: 1000;
  transition: all 0.02s linear;
  pointer-events: none; }
