@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
@keyframes bob {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(-20%); }
  75% {
    transform: translateY(20%); }
  100% {
    transform: translateY(0); } }

nav {
  height: 50vh; }
  nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    nav ul a {
      text-decoration: none;
      color: black;
      cursor: none; }
      nav ul a li {
        font-family: 'Quicksand', sans-serif;
        font-size: 50px; }
        nav ul a li span {
          display: inline-block; }
        nav ul a li .span-hover {
          animation: bob 0.4s; }
      nav ul a .animated span:nth-child(1) {
        animation: bob 0.3s linear 0.06s; }
      nav ul a .animated span:nth-child(2) {
        animation: bob 0.3s linear 0.12s; }
      nav ul a .animated span:nth-child(3) {
        animation: bob 0.3s linear 0.18s; }
      nav ul a .animated span:nth-child(4) {
        animation: bob 0.3s linear 0.24s; }
      nav ul a .animated span:nth-child(5) {
        animation: bob 0.3s linear 0.3s; }
      nav ul a .animated span:nth-child(6) {
        animation: bob 0.3s linear 0.36s; }
      nav ul a .animated span:nth-child(7) {
        animation: bob 0.3s linear 0.42s; }
      nav ul a .animated span:nth-child(8) {
        animation: bob 0.3s linear 0.48s; }
      nav ul a .animated span:nth-child(9) {
        animation: bob 0.3s linear 0.54s; }
      nav ul a .animated span:nth-child(10) {
        animation: bob 0.3s linear 0.6s; }
