@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
@keyframes bob {
  0% {
    transform: translateY(0); }
  25% {
    transform: translateY(-20%); }
  75% {
    transform: translateY(20%); }
  100% {
    transform: translateY(0); } }

nav {
  display: flex;
  align-items: center;
  position: fixed;
  width: 250px;
  right: 10vw;
  top: 50vh;
  transform: translateY(-50%);
  height: 50vh;
  transition: all 0.5s; }
  nav .button {
    margin-right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateX(-50%);
    background-color: black;
    transition: all 0.4s; }
  nav .open:hover {
    transform: translateX(-100%) scale(1.5); }
  nav .closed:hover {
    transform: scale(1.5); }
  nav ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    nav ul a {
      text-decoration: none;
      color: black;
      cursor: none; }
      nav ul a li {
        font-family: 'Quicksand', sans-serif;
        font-size: 50px; }
        nav ul a li span {
          display: inline-block; }
        nav ul a li .span-hover {
          animation: bob 0.4s; }
      nav ul a .animated span:nth-child(1) {
        animation: bob 0.3s linear 0.06s; }
      nav ul a .animated span:nth-child(2) {
        animation: bob 0.3s linear 0.12s; }
      nav ul a .animated span:nth-child(3) {
        animation: bob 0.3s linear 0.18s; }
      nav ul a .animated span:nth-child(4) {
        animation: bob 0.3s linear 0.24s; }
      nav ul a .animated span:nth-child(5) {
        animation: bob 0.3s linear 0.3s; }
      nav ul a .animated span:nth-child(6) {
        animation: bob 0.3s linear 0.36s; }
      nav ul a .animated span:nth-child(7) {
        animation: bob 0.3s linear 0.42s; }
      nav ul a .animated span:nth-child(8) {
        animation: bob 0.3s linear 0.48s; }
      nav ul a .animated span:nth-child(9) {
        animation: bob 0.3s linear 0.54s; }
      nav ul a .animated span:nth-child(10) {
        animation: bob 0.3s linear 0.6s; }

.closed {
  right: -250px; }
