@import './helpers/variables';
// font
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

.app {
	min-width: 100vw;
	min-height: 100vh;
	background: linear-gradient($color1, $color2);
	cursor: none;
}
